<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Trang chủ</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
	<link rel="stylesheet" type="text/css" href="../Dictionary/css/admin.css">
	<link rel="stylesheet" type="text/css" href="../Dictionary/css/base.css">

</head>
<body>
	<div class="navi-bar">
	<ul>
	  <li><a href="Admin.html">HOME</a></li>
	  <li><a href="AddUser.html">USER</a></li>
	  <li><a href="AddFarm.html">FARM</a></li>
	  <li style="float:right"><a class="active" href="Status.html">STATUS</a></li>
	</ul>
	</div>
	<div class="table-title">
	<h3>Thông tin chung</h3>
	</div>
	<div class="all-table">
	<span class="table-user-infor">
		<table class="table-fill">
		<thead>
			<tr>
				<th class="text-left">Tài khoản</th>
				<th class="text-left">Tên người dùng</th>
				<th class="text-left">Loại</th>
			</tr>
		</thead>
		<tbody class="table-hover">
<!-- 		<tr>
			<td class="text-left">January</td>
			<td class="text-left">$ 50,000.00</td>
			<td class="text-left">$ 50,000.00</td>
			<td class="text-left">$ 50,000.00</td>
		</tr> -->

	</tbody>
	</table>
 	</span>

 	<span class="table-farm">
		<table class="table-farm-content">
		<thead>
			<tr>
				<th class="text-left">Tên trang trại</th>
				<th class="text-left">Địa chỉ</th>
				<th class="text-left">Chủ trang trại</th>
			</tr>
		</thead>
		<tbody class="table-hover-status">
<!-- 		<tr>
			<td class="text-left">January</td>
			<td class="text-left">$ 50,000.00</td>
			<td class="text-left">$ 50,000.00</td>

		</tr> -->
		
		</tbody>
	</table>
</span>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="../Dictionary/script/requestAdmin.js" type="text/javascript" ></script>
</body>